<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
  }
  
.navbar{
    padding: 0rem;
    background-color: #ddd;
  }

.navbar-nav li{
    padding-right: 20px;
    padding-top: 0rem;
  }

.navbar-nav li:hover{
    background-color: #00aced;
  }
.nav-link{
    font-size: 1.1em !important;
    font-family: 'Poppins';
    }
.nav-link-dropdown{
      color: #222;
    font-size: .9em !important;
  }
.nav-link-dropdown:hover{
    color: #555;
    text-decoration: none;
    font-family: 'Poppins';
  }

.logo-text{
    margin-left: .5em;
    margin-top:0.5rem;
}

.navbar-menu{
  margin-top: -.67rem;
  margin-bottom: -.55rem;
}
.jumbotron{
    padding:1rem ;
    border-radius: 0px;
  }
.padding{
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
.padding-3col{
  padding-bottom: 2rem;
    padding-top: 2rem;
  background-color: #ddd;
}
.padding-col{
  background-size: 30%;
  width: 50%;
  margin: 8% 30% ; 
  background: linear-gradient(90deg, rgba(0,212,255,1) 40%, rgba(107,227,250,1) 50%, rgba(149,222,236,1) 100%);
}
.padding-contact{
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-image:url(images/roads.jpg);
  background-attachment: fixed;
  background-size: cover;
  opacity:95%;
  background-blend-mode: color-burn;
  background-color: #2b4b55;
  color: #d5d5d5;
}
.welcome{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Poppins';
  }
.welcome-text{
  font-size: 75%;
  color: #555;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fa-mobile-alt{
    color: #ededed;
  }
.fa-paper-plane{
    color: #ededed;
  }
.fa-bullhorn{
    color:#ededed ;
  }
.fa-mobile-alt, .fa-paper-plane, .fa-bullhorn{
    font-size: 3.5rem;
    margin: 1rem;
  }
 .text-3col{
  font-size: 90%;
  color: #555;
  font-family: serif;
 } 
.social a {
    font-size: 2em;
    display: inline-flex;
    float: right;
    padding-right: 2rem;
  }
.social h5{
  display: inline;
  margin-left: 20%;
  color: #d5d5d5;
}
.fa-facebook{
    color: #3b5998;
    
  }
.fa-twitter{
    color: #00aced;
  }
.fa-google-plus-g{
    color: #dd4b39;
  }
.fa-instagram{
    color: rgba(253,29,29,1) ;
    margin-right: 8rem;
  }

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover{
    color: #333;
  }

footer{
    background-color: #777;
    color: #d5d5d5;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75% ;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
hr.dark{
    border-top: 1px solid #777;
    width: 80% ;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #08f;
    background-color: #44f;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
   .hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }

    .padding-form{
      padding-bottom: .5rem;
      padding-top: .5rem;
      background:transparent!important;

    }
    .btn-primary{
      border: 1px solid #08f;
      color: #00aced;
      float: right;
      margin-right: 2rem;
    }
    .btn-primary:hover {
      background-color: #00aced;
      border: 1px solid#00aced;
      color: #d5d5d5;
    }

    .btn-secondary{
      border: 1px solid #08f;
      color: #00aced;
      float: none;
      margin-top: 5rem;
    }
    .btn-secondary:hover {
      background-color: #00aced;
      border: 1px solid#00aced;
      color: #d5d5d5;
    }

  .checkbox{
    float: left;
    color: #555;
    padding-left: 2rem;
    font-size: 1.1rem;
  }
  .modal-display{
  
  }
||||||| merged common ancestors
=======
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
  }
  
.navbar{
    padding: 0rem;
    background-color: #ddd;
  }

.navbar-nav li{
    padding-right: 20px;
    padding-top: 0rem;
  }

.navbar-nav li:hover{
    background-color: #00aced;
  }
.nav-link{
    font-size: 1.1em !important;
    font-family: 'Poppins';
    }
.nav-link-dropdown{
      color: #222;
    font-size: .9em !important;
  }
.nav-link-dropdown:hover{
    color: #555;
    text-decoration: none;
    font-family: 'Poppins';
  }

.logo-text{
    margin-left: .5em;
    margin-top:0.5rem;
}

.navbar-menu{
  margin-top: -.67rem;
  margin-bottom: -.55rem;
}
.jumbotron{
    padding:1rem ;
    border-radius: 0px;
  }
.padding{
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
.padding-3col{
  padding-bottom: 2rem;
    padding-top: 2rem;
  background-color: #ddd;
}
.padding-col{
  background-size: 50%;
  width: 50%;
  margin: 8% 30% ; 
  background: linear-gradient(90deg, rgba(0,212,255,1) 40%, rgba(107,227,250,1) 50%, rgba(149,222,236,1) 100%);
}
.welcome{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Poppins';
  }
.welcome-text{
  font-size: 75%;
  color: #555;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fa-mobile-alt{
    color: #ededed;
  }
.fa-paper-plane{
    color: #ededed;
  }
.fa-bullhorn{
    color:#ededed ;
  }
.fa-mobile-alt, .fa-paper-plane, .fa-bullhorn{
    font-size: 3.5rem;
    margin: 1rem;
  }
 .text-3col{
  font-size: 90%;
  color: #555;
  font-family: serif;
 } 
.social a {
    font-size: 4em;
    padding: 2rem ;
  }
.fa-facebook{
    color: #3b5998;
  }
.fa-twitter{
    color: #00aced;
  }
.fa-google-plus-g{
    color: #dd4b39;
  }
.fa-instagram{
    color: #517fa4;
  }

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover{
    color: #333;
  }

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
  }

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75% ;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
hr.dark{
    border-top: 1px solid #777;
    width: % ;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
>>>>>>> 9148987ee947a2eecd4f810ba8855885ae1a6274
