@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    height: 100vh;
    width: 100vw;
    background: url('../Images/background_page1.jpg');
    background-size: cover;
    font-family: poppins;
  }
  
  .container { 
    width: 600px;
    height: 420px;
    position: relative;
    perspective: 800px;
    margin: 3rem auto;
  }
  
  #options {
      margin: 0px auto;
    margin-top: -20px;
      width: 200px;
      text-align: center;
  }
  
  #card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  #card figure {
    margin: 0;
    position: absolute;
    border-radius: 8px;
    width: 100%;    
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,.3);
    backface-visibility: hidden;
  }
  
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 50px;
    width: 50px;
  }
   
  .logo img {
    height: 50px;
  }
  
  #card .front {
    background: white;
  }

  #card .back {
    background: white;
    transform: rotateY( 180deg );
    
  }
  
  #card.flipped {
    transform: rotateY( 180deg );
  }
  
  @keyframes powerFlip {
    from {
      box-shadow: 5px 10px 5px rgba(0,0,0,0);
    }
    
    50% {
      transform: translateY(-10px);
      box-shadow: 0px 4px 20px 20px rgba(142, 68, 173,0.1);
    }
  }
  
  @keyframes powerFlipTwo {
    from {
      box-shadow: 5px 10px 5px rgba(0,0,0,0);
    }
    
    50% {
      transform: translateY(-10px);
      box-shadow: 0px 4px 20px 20px rgba(142, 68, 173,0.1);
    }
  }
  
  
  #flip {
    animation-name: powerFlipTwo;
    animation-timing-function: easeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
    /* animation-iteration: 1; */
    height: 30px;
    width: 200px;
    background: #9b59b6;
    border: none;
    font-size: 1rem;
    color: white;
    transition: all 150ms;
    cursor: pointer;
  }
  
  #flip:hover {
    background: #8e44ad;
  }
  
  #flip.powered {
    animation-name: powerFlip;
    animation-timing-function: easeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
    /* animation-iteration: 1; */
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form input {
    margin-bottom: 1rem;
  }
  
  .front .form-side,
  .back .form-side {
    padding-top: 50px;
    margin: 0 auto;
    width: 40%;
    height: 100%;
  }
    
  label {
    font-size: 90%;
    margin-bottom: 5px;
  }
  
  .form input {
    height: 20px;
    padding-left: 3px;
  }
  
  .lgn-btn {
    background: rgba(52, 152, 219,1.0);
    color: white;
    border: none;
     height: 30px;
    cursor: pointer;
  }

  .padding-form{
    padding-bottom: .5rem;
    padding-top: .5rem;
    background:transparent!important;
  }
  .welcome{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .btn-primary{
    border: 1px solid #08f;
    color: #00aced;
    float: right;
    margin-right: 2rem;
  }
